.filter {
  width: 23.5%;
  &__cont {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .filter{
    width: 100%;
    margin-bottom: 15px;
    &__cont {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }}
}



