#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.cont {
  max-width: 996px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 12vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  justify-items: center;
  gap: 20px;
  grid-template-rows: auto;
}

.go__back {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  font-family: Karla, sans-serif;
  &::before {
    content: url(../assets/arrow_back_24px.svg);
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
} 

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    .cont__logo {
      width: 100%;
      margin-top: 10vh;
    }
  }
}
@media (max-width: 490px) {
  .cont {
    margin: 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .cont__logo {
    margin-top: 0px;
  }
}
