.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 100px;
}

.episode__name {
  line-height: 20px;
  font-size: 16px !important;
  color: #6E798C  !important;
  letter-spacing: .25px;
}

.img__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 310px;
  background-color: #f2f2f7;
  border-radius: 50%;
  margin-top: 140px;

  & img {
    width: 300px;
    border-radius: 50%;
  }
}

.title {
  font-weight: 700;
  margin: 5%;
}

.info__cont {
  display: flex;
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
  font-size: 23px;
  color: #8e8e93;
  & h2 {
    margin-bottom: 36px;
  }
}

.charInfo__cont {
  max-width: 413px;
  width: 100%;
}

.episodes__cont {
  width: 100%;
}

.info__cont_list,
.episodes__cont_list {
  width: 95%;
  max-width: 413px;
  margin-top: 7%;
  margin-left: 16px;
  margin-bottom: 20px;
  & li {
    padding: 9px 0 12px;
    max-width: 413px;
    letter-spacing: 0.25px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    line-height: 1.1;
    font-family: Karla, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.15px;

    & span {
      line-height: 1; 
      color: #8e8e93;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 0.25px;
    }
  }
}

.episodes__cont_list {
  overflow-y: scroll;
  border-top: none;
  max-height: 345px; 
  transition: max-height 0.3s ease, opacity 0.3s ease;
  & li {
    display: flex;
    justify-content: space-between
  }
}

.img {
  content: url(../../../assets/Episode__arror.svg);
}



@media (max-width: 900px) {
}
@media (max-width: 480px) {
  .img__cont {
    margin-top: 40px;
  }
}
