.back {
  position: absolute;
  top: 8%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 19px;

  &:hover img {
    transform: translate(-30%);
  }
  & img {
    width: 24px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }

  &:hover {
    color: black;
  }
}

@media (max-width: 480px) {
  .back {
    font-size: 0;
    top: 4%;
    left: 6%;
  }
}
